*{
    margin: 0;
    padding: 0;
}
#header{
    background-image: url(images/banner.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center ;
}
.navbar-nav li a
{
    float: right;
    color: #fff!important;
}
.navbar-brand img
{
  width: 150px;  
  margin-left: 30px;
}
.navbar-toggler
{
    border: none!important;
    outline: none!important;
}
.fa fa-bars {
color: rgb(230, 138, 0)
}
nav .fa-bars{
    color: #fff !important;
    font-size: 26px;
}

/*-------------------welcome page-------------------*/
.Welcome 
{
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}
.Welcome  h1 
{
color: #133;
}
.Welcome .home-btn
{
margin-top: 10px;
padding: 10px 30px;
border-radius: 30px;
color: #fff;
background-color: #013f7e;
}
.Welcome .btn:focus{
    box-shadow: none;
}
.image-fluid{
    width: 150px;
}
/*-------------------About us--------------------*/
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6 {
    padding-top: 20px 10px;
    
}
#about h3 {
  margin-top: 20px auto;
    
}